@charset "UTF-8";

/* ------------------------------------------------- *
 *        variable-module
 * ------------------------------------------------- */
@mixin link-transfer {
	a {
		text-decoration: none;
		color: #fff;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;

		&:hover {
			text-decoration: none;
			color: #fff;
			filter:alpha(opacity=50);
			-moz-opacity: 0.50;
			opacity: 0.50;
		}
	}
}

@mixin opacity($property:0,$propertyIE:0){
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$propertyIE})";
    filter: alpha(opacity=$propertyIE);
    -moz-opacity: $property;
    -khtml-opacity: $property;
    opacity: $property;
}

@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Comfortaa:400,700);

$path-img: '../../assets/imgs/';
$navy:#16216a;
$pale-blue:#91a1a5;
$pink:#c06c85;
$brown:#c8bfb6;
$dark-brown:#504845;
$black:#151618;

.font-comfortaa {
	font-family: 'Comfortaa', cursive;
}
.font-asap {
	font-family: 'Asap', sans-serif;
}



/* ------------------------------------------------- *
 *        common-module
 * ------------------------------------------------- */
@import 'icon/*.png';
@include all-icon-sprites;

html,
body {
    height: 100%;
}
body {
 	background: #fff;
 	color: #191919;
 	font-size: 16px;
 	line-height: 1.75;
	color: $black;
	letter-spacing: 0.0px;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0px;
	padding:0px;
	font-size: 1.0em;
	line-height: 1.75;
}
li {
	list-style-type: none;
}

/*gridのgutter調整*/
.no-gutters {
	margin-right: 0px;
	margin-left: 0px;
	& > [class^="col-"],
	& > [class*="col-"] {
		padding-right: 0px;
		padding-left: 0px;
	}
}

.row-30{
	margin-left:-15px;
	margin-right:-15px;
	> div{
		padding-right:15px;
		padding-left:15px;
	}
}

.row-30 a {
	margin-left:-15px;
	margin-right:-15px;
	> div{
		padding-right:15px;
		padding-left:15px;
	}
}

a {
	text-decoration: none;
	color: #fff;

	&:hover {
		text-decoration: none;
		color: #fff;
	}
}

.form-control {
  border-radius: 0px;
}

.video-wrap {
  position: relative;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding-top: 69px;
  padding-bottom: 50%;
  overflow: hidden;
}

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


//テキスト選択時
::-moz-selection {
	background: $brown;
}
::selection {
	background: $brown;
}
::-moz-selection {
	background: $brown;
}

.color-navi {
	color: $navy;
}
.color-pale-blue {
	color: $pale-blue
}
.color-white {
	color: #fff;
}

.mt10 {
	margin-top: 10px;
}
.mt30 {
	margin-top: 30px;
}
.mt50 {
	margin-top: 50px;
}
.mt60 {
	margin-top: 60px;
}
.mt100 {
	margin-top: 100px;
}

/* ------------------------------------------------- *
 *        @extend-module
 * ------------------------------------------------- */
.btn {
	@extend .font-comfortaa;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	line-height: 1.75;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: $pink;
	z-index: 1;
	position: relative;
	font-size: 1.0em;

	& a {
	  color: #fff;

	  &:hover {
	  	text-decoration: none;
	  	color: #fff;
	  }
	}

}
.btn-book {
	width: 55%;
	font-size: 1.1em;
}
.btn-100per {
	width: 100%;
}


/* ------------------------------------------------- *
 *        header-module
 * ------------------------------------------------- */
.header-fix {
	position:fixed;
	z-index: 9999;
	width: 100%;
	//background: url(#{$path-img}deco-w.png) repeat-x;
	//background-position: bottom;
	background-repeat: repeat-x;
	background-position: center 36px;
	height: 68px;
	.inside {
		position:fixed;
		z-index: 9998;
		width: 100%;
		background: #fff;
		padding: 7px 0px;
	}
}
.logo-header {
	width:163px;
	height:43px;
	background: url(#{$path-img}logo.svg) no-repeat;
}
.header-navi1 {
	@extend .font-comfortaa;
	@include link-transfer;
	//background: url(#{$path-img}deco-b.png) repeat-x;
	//background-position: bottom;
	background-repeat: repeat-x;
	background-position: center 61px;
	padding: 0px 0px 7px 0px;
	margin-top: 30px;
	position: relative;
	z-index: 9997;
	.inside {
		width: 100%;
		background: #dcddd9;
		padding: 25px 0px 8px 0px;
		li {
			float: left;
			//margin-right: 40px;
			padding: 0px 15px;
			& a {
				color: $black;
			}
		}
		li:last-child {
			margin-right: 0px;
		}
	}
	.dropdown {
		a {
			color: $black;
		}
		li {
			float: none;
			height: 16px;
			font-size: 16px;
			margin-bottom: 15px;

			line-height: 1.4;
			.flag {
				padding-left: 30px;
			}
		}
		li:last-child {
			margin-bottom: 0px;
		}
	}
	.dropdown-menu {
		& a {
		  color: $black;
		  height: 16px;

		  &:hover {
		  	text-decoration: none;
		  	color: $black;
		  }
		}
	}
}
.navProperty {
	padding-top: 10px;
}
.comingSoon {
	filter:alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
	padding: 0px 15px;
	.small {
		font-size: 12px;
		text-align: left;
		margin-bottom: -5px;
	}
}
.header-navi2 {
	@extend .font-comfortaa;
	@include link-transfer;
	//background: url(#{$path-img}deco-n.png) repeat-x;
	//background-position: bottom;
	background-repeat: repeat-x;
	background-position: center 70px;
	padding: 0px 0px 7px 0px;
	margin-top: -10px;
	position: relative;
	z-index: 9996;
	font-size: 1.20em;
	.inside {
		width: 100%;
		background: $navy;
		padding: 20px 0px 8px 0px;
		color: #fff;
	}
}
.dotted-left {
	border-left: 1px dotted #fff;
}
.dotted-right {
	border-right: 1px dotted #fff;
}
.icon-flag-eng {
	font-size: 14.9px;
	padding-left: 30px;
	//height: 16px;
	//background-position: center right;
}
.tit-page {
	//border: 2px solid $navy;
	//margin-top: 30px;
	padding: 65px 0px 60px;
	@extend .font-asap;
	color: $navy;
	font-weight: 700;
	font-size: 2.0em;
}
.tit-page:before {
	/*content: url(#{$path-img}icon-koko-dad.svg);
	position : relative ;
    bottom : -0.2em ;
    margin-right : 0.1em ;*/
}


#scroll-menu .scroll-menu-inner {
    list-style-type: none;
    width: 2000px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#scroll-menu li {
    float: left;
    height: 100%;
}
#scroll-menu a {
    height: 100%;
    padding: 0px 15px;
    display: block;
}

@media screen and (max-width: 2000px) {
    #scroll-menu {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    #scroll-menu .scroll-menu-inner {
        margin: 0;
    }
}


/* ------------------------------------------------- *
 *        footer-module
 * ------------------------------------------------- */
.btns-area {
	margin-top: 60px;
	border-top: 6px solid $navy;
	border-bottom: 6px solid $navy;
	.border-r {
		border-right: 3px solid $navy;
		height: 335px;
	}
	.border-r2 {
		border-right: 3px solid $navy;
		height: 335px;
	}
	.border-l {
		border-left: 3px solid $navy;
		height: 335px;
	}
	.border-l2 {
		border-left: 3px solid $navy;
		height: 335px;
	}
	.border-t {
		border-top: 6px solid $navy;
	}
	.tit {
		@extend .font-asap;
		color: $navy;
		font-weight: 700;
		font-size: 1.8em;
		margin-top: 20px;
	}
	.tit2 {
		@extend .font-asap;
		font-weight: 700;
		color: $navy;
		font-size: 1.8em;
		margin-top: 20px;
		margin-bottom: -10px;
		padding: 0px 40px;
	}
	.txt {
		padding: 0px 40px;
		margin-top: 10px;
	}
	.btn1 {
		background:#fff url(#{$path-img}btn1.png) no-repeat center bottom;
		background-size:100% auto;
	}
	.btn2 {
		background:#fff url(#{$path-img}btn2.png) no-repeat center bottom;
		background-size:100% auto;
	}
	.btn3 {
		background:#fff url(#{$path-img}btn3.jpg) no-repeat center bottom;
		background-size:100% auto;
	}
	.subscribe-area {
		@extend .font-asap;
		margin-top: 10px;
		padding: 0px 60px;
		.btn {
			color: #fff;
			line-height: 1.35;
			font-size: 0.9em;
		}
		.form-group {
			margin-bottom: 0px;
			input {
				margin-bottom: 10px;
			}
		}
	}
	a {
		color: $black;
		.tit, .tit2, .txt {
			-webkit-transition-duration: 0.5s;
			transition-duration: 0.5s;
		}
		& :hover {

			.tit, .tit2, .txt {
				//color: $pink;
				filter:alpha(opacity=50);
				-moz-opacity: 0.50;
				opacity: 0.50;
			}
		}
	}
}
.comingSoonNaviFooter {
	filter:alpha(opacity=50); -moz-opacity: 0.50; opacity: 0.50;
}

#btn-pagetop {
	text-align: center;
	margin-top: 60px;
	position: relative;
	z-index: 9990;
}
.footer-deco {
	margin-top: -6px;
	//background: url(#{$path-img}deco-n2.png) repeat-x;
	//background-position: bottom;
	background-repeat: repeat-x;
	background-position: center -14px;
	height: 7px;
}
footer {
	.navi-footer {
		padding-bottom: 40px;
	}
	@extend .font-comfortaa;
	color: #fff;
	background: $navy;
	padding-top: 35px;

	.tit {
		font-size: 1.2em;
		padding-left: 30px;
		height: 23px;
		font-weight: 700;
		margin-bottom: 20px;
		line-height: 1.4;
	}
	ul {
		margin-left: 5px;
		@include link-transfer;
	}
	li {
		margin-bottom: 10px;
	}
	li:last-child {
		margin-bottom: 0px;
	}
	.txt {
		//padding-right: 20px;
		@include link-transfer;
	}
	.subscribe-area {
		margin-top: 10px;
		//padding-right: 80px;
		.btn {
			color: #fff;
			line-height: 1.35;
			font-size: 0.9em;
		}
		.form-group {
			margin-bottom: 0px;
			input {
				margin-bottom: 10px;
			}
		}
	}
	.address {
		ul {
			margin-left: 0px;
			margin-top: 15px;
		}
		li {
			margin-bottom: 5px;
			i {
				padding-right: 5px;
			}
		}
	}
	.deco-copy-footer {
		//background: url(#{$path-img}deco-footer.png) repeat-x;
		//background-position: bottom;
		background-repeat: repeat-x;
		background-position: center -135px;
		height: 28px;
	}
	.copy-footer {
		padding: 30px;
		background: $black;
		font-size: 0.9em;
		@include link-transfer;

		li {
			padding-left: 27px;
			height: 21px;
			line-height: 1.45;
			float: left;
			margin-right: 20px;
		}
		.copyright {
			font-size: 0.8em;
			& a {
				font-style: italic;
			}
		}
	}
}



.very-best-banners-area {
	@include link-transfer;
	margin-top: 60px;
	.bg-line-fluffy-above {
		background: url(#{$path-img}line-fluffy-above.png) repeat-x;
	}
	.tit {
		@extend .font-asap;
		font-size: 2.2em;
		font-weight: 700;
		background: url(#{$path-img}line-fluffy-below.png) repeat-x;
		background-position: bottom;
		padding: 30px 0px;
		line-height: 1.3;
	}
	h3 {
		margin: 30px 0px 20px 0px;
	}
	.box-left {
		padding-right: 15px;
	}
	.box-right {
		padding-left: 15px;
	}
	.mt {
		margin-top: 50px;
	}
	.img {
		//position: relative;
		//z-index: 100;
		margin-left: 10px;
	}
	.num {
		background: $brown;
		color: $dark-brown;
		width: 145px;
		text-align: center;
		padding: 0px 0px;
		@extend .font-asap;
		font-size: 2.2em;
		position: absolute;
		z-index: 101;
		top:-20px;
	}

	.banner {
		font-weight: 700;
	}
}


.icon-value {
	padding-top: 50px;
	margin: 0px 0px 10px 0px;
	position: relative;
	overflow: hidden;

	ul {
		position: relative;
		left: 50%;
		float: left;
	}
	ul li {
		position: relative;
		left: -50%;
		float: left;
		list-style: none;
	}
	.right {
		margin-left: 15px;
		line-height: 1.3;
		font-size: 1.18em;
	}
	.svgicon {
		fill:#fff;
	}
	.svgicon-navy {
		fill:$navy;
	}
	.icon {
		line-height: 1;
		@extend .font-comfortaa;
	}
}


.concept-story-btns {
	margin-top: 60px;
	.boxBtn {
		//border: 3px solid $navy;
	}
	.boxLeft {
		padding-right: 15px;
		text-align: right;
	}
	.boxRight {
		padding-left: 15px;
		text-align: left;
	}
}

/* ------------------------------------------------- *
 *        bread-crumb-module
 * ------------------------------------------------- */
.breadcrumb {
	background: #eee;
	line-height: 1.55;
	& a {
		color: $pale-blue;
	}
	/*.boxBreadcrumb {
		background: #eee;
		padding: 5px 15px;
	}*/
}




/* ------------------------------------------------- *
 *        hover-module
 * ------------------------------------------------- */
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0px;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $dark-brown;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border: 0px;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}



.hvr-sweep-to-bottom2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0px;
}
.hvr-sweep-to-bottom2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $pale-blue;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border: 0px;
}
.hvr-sweep-to-bottom2:hover, .hvr-sweep-to-bottom2:focus, .hvr-sweep-to-bottom2:active {
  color: white;
}
.hvr-sweep-to-bottom2:hover:before, .hvr-sweep-to-bottom2:focus:before, .hvr-sweep-to-bottom2:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* ------------------------------------------------- *
 *        font-awesome-module
 * ------------------------------------------------- */
/*
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m66nwe');
  src:  url('fonts/icomoon.eot?m66nwe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m66nwe') format('truetype'),
    url('fonts/icomoon.woff?m66nwe') format('woff'),
    url('fonts/icomoon.svg?m66nwe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-phone:before {
  content: "\f095";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-info:before {
  content: "\f129";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-taxi:before {
  content: "\f1ba";
}
.fa-plane:before {
  content: "\f072";
}
.fa-train:before {
  content: "\f238";
}
.fa-film:before {
  content: "\f008";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-fw{width:1.28571429em;text-align:center}


/* ------------------------------------------------- *
 *        responsive-module
 * ------------------------------------------------- */

@media screen and (min-width:1199px) {
	.btns-area {
		.btn2 {
			background-size:85% auto;
		}
		.btn3 {
			background-size:95% auto;
		}
	}
}
@media screen and (max-width:991px) {
	.header-navi2 {
		background-position: center 66px;
		font-size: 1.10em;
	}
	.btn {
		line-height: 1.30;
		font-size: 0.85em;
	}
	.btn-book {
		margin-top: 8px;
		font-size: 1.0em;
	}
	.btns-area {
		.border-r {
			height: 300px;
		}
		.border-l {
			height: 300px;
		}
		.border-r2 {
			height: 300px;
		}
		.border-l2 {
			height: 300px;
		}

		.tit {
			font-size: 1.5em;
			margin-top: 10px;
		}
		.tit2 {
			font-size: 1.5em;
			margin-top: 10px;
			margin-bottom: -10px;
		}
		.txt {
			padding: 0px 40px;
			margin-top: 10px;
			font-size: 0.85em;
			line-height: 1.65;
		}
		.subscribe-area {
			margin-top: 10px;
		}
	}
	footer {
		font-size: 0.85em;
	}

	.very-best-banners-area {
		.tit {
			font-size: 2.0em;
			line-height: 1.1;
		}
		h3 {
			margin: 30px 0px 0px 0px;
		}
		.box-left {
			padding-right: 0px;
		}
		.box-right {
			padding-left: 0px;
		}
		.mt {
			margin-top: 40px;
		}
		.num {
			width: 95px;
			font-size: 2.0em;
		}
	}


	#top {
		.value {
			.pos-txt {
				top:56%;
				line-height: 1.75;
				font-size: 0.85em;
			}
		}
		.property {
			margin-top: 60px;
			.tit {
				font-size: 1.20em;
				top:2.0%;
			}

			.txt {
				padding: 5px 10px;
				line-height: 1.6;
				font-size: 0.85em;
			}
		}
	}


}


@media screen and (max-width:767px) {
	.carousel-indicators {
   	 bottom: -10px;
  	}
  	.carousel-control .glyphicon-chevron-left,
  	.carousel-control .glyphicon-chevron-right,
  	.carousel-control .icon-prev,
  	.carousel-control .icon-next {
  		width: 30px;
  		height: 30px;
  		/*margin-top: -105px;*/
  		//top : 98% ; /* IE8以下とAndroid4.3以下用フォールバック */
		top : -webkit-calc(50% - 30px) ;
		top : calc(50% - 30px) ;
  		font-size: 30px;
  	}
  	.carousel-control .glyphicon-chevron-left,
  	.carousel-control .icon-prev {
  		margin-left: -20px;
  	}
  	.carousel-control .glyphicon-chevron-right,
  	.carousel-control .icon-next {
  		margin-right: -20px;
  	}



	.very-best-banners-area {
		.tit {
			font-size: 2.0em;
			line-height: 1.1;
		}
		h3 {
			margin: 30px 0px 0px 0px;
		}
		.box-left {
			padding-right: 0px;
		}
		.box-right {
			padding-left: 0px;
		}
		.mt {
			margin-top: 40px;
		}
		.num {
			width: 95px;
			font-size: 2.0em;
		}
	}

	.navbar-right {
	    float: right !important;
	    margin-right: 0px;
	    padding-right: 15px;
	}

	.icon-flag-eng {
	  background-position: 0 -31px;
	}
	.navi-sp {
		padding-top: 10px;
		margin-bottom: 20px;
	}
	.logo-header {
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		margin-left: -23px;
	}
	.btn-book {
		width: 100%;
	}
	.header-fix {
	  background-position: center 35px;
	  height: 66px;
	}

	.tit-page {
		padding: 20px 0px;
		font-size: 1.4em;
	}
	.tit-page:before {
		content: none;
	}

	.header-navi1 {
		background-position: center 61px;
		padding: 0px 0px 7px 0px;
		margin-top: 20px;
		z-index: 9997;
		.dropdown {
			a {
				height: 10px;
			}
		}
		.dropdown-menu {
			a {
				height: auto;
			}
		}
		.inside {
			li {
				padding: 0px 3px;
				font-size: 0.95em;
			}
		}
	}

	.header-navi2 {
		background-position: center 66px;
		padding: 0px 0px 7px 0px;
		margin-top: -10px;
		.inside {
			width: 100%;
			background: $navy;
			padding: 20px 0px 8px 0px;
			color: #fff;
		}
	}

	.nav-horizontal {
		overflow: hidden;
		width: 100%;

		.mask {
			width: 100%;
		    overflow-x: auto;
		    -webkit-overflow-scrolling: touch;
		  }

		  .list {
		  	display: inline-table;
		  	margin: 0 auto;
		  	max-width: 100%;
		  	ul {
		  	}
		    li {
		    	display: table-cell;
		    }

		    a {
	    		padding: 5px 30px;
	    		display: block;
	    	}
	    }
	}

	.footer-deco {
	  height: 6px;
	}
	footer {
		.txt {
			padding-right: 0px;
		}
		.navi-footer {
			padding-bottom: 30px;
		}
		.subscribe-area {
			padding-right: 0px;
		}
		.copy-footer {
			padding: 30px 0px;

			li {
				display: block;
				line-height: 1.75;
				margin-right: 0px;
				margin-bottom: 15px;
			}
		}
		.address {
			i {
				padding-right: 0px;
			}
		}
	}
	.btns-area {
		margin-top: 40px;
		.border-r {
			height: 250px;
		}
		.border-l {
			height: 250px;
		}
		.border-r2 {
			height: 250px;
		}
		.border-l2 {
			height: 250px;
		}
		.border-r2 {
			border-right: 0px solid $navy;
		}
		.border-l2 {
			border-left: 0px solid $navy;
		}
		.border-r3 {
			border-right: 3px solid $navy;
		}
		.border-l3 {
			border-left: 3px solid $navy;
		}
		.border-t2 {
			border-top: 6px solid $navy;
		}
		.btn4 {
			background:#fff url(#{$path-img}btn4.jpg) no-repeat center bottom;
			background-size:100% auto;
		}
		.tit {
			font-size: 1.5em;
			margin-top: 15px;
			line-height: 1.2;
			letter-spacing: -0.6px;
		}
		.txt {
			padding: 0px 10px;
			margin-top: 5px;
		}
		.subscribe-area {
			margin-top: 10px;
			padding: 0px 10px;
		}
	}
	.row-30{
		margin-left:0px;
		margin-right:0px;
		> div{
			padding-right:0px;
			padding-left:0px;
		}
	}
	.row-30 a {
		margin-left:0px;
		margin-right:0px;
		> div{
			padding-right:0px;
			padding-left:0px;
		}
	}

	.icon-value {
		margin: 0px 0px 10px 0px;
		position: relative;
		overflow: hidden;
	}

	.concept-story-btns {
		margin-top: 40px;
		.boxBtn {
			//border: 3px solid $navy;
		}
		.boxLeft {
			padding-right: 0px;
			text-align: center;
			padding-bottom: 20px;
		}
		.boxRight {
			padding-left: 0px;
			text-align: center;
		}
	}
}


@media screen and (min-width:1500px) {
	.btns-area {
		.btn3 {
			background-size:80% auto;
		}
	}
}


//codepen用 reset
//*{box-sizing: border-box;}body{font-family:sans-serif;padding-top: 100px;width:100vw;background-color:#999;}



//////bootstrap tag
/*
visible-xs
col-sm-14 col-sm-offset-5
xs sm md lg

//////link tag
img {
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
}
a:hover img, a:active img {
	filter: alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

a {
	display: block;
	text-decoration: none;
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
	&:link {color: #000;}
	&:visited {color: #000;}
	&:hover {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
	&:active {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
}

@extend .font-average;

//スモールPC
@media screen and (max-width:1199px) {
}
//タブレット
@media screen and (max-width:991px) {
}
//スマホ
@media screen and (max-width:767px) {
}

z-index:9990;
*/





//アンドロイドでローカルのnoto sans jpnを使う
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format('opentype');
}

@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 300;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format('opentype');
}

@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 400;
   src: local('NotoSansJP-Regular.otf'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.otf) format('opentype');
 }
