@charset "UTF-8";

/* ------------------------------------------------- *
 *        variable-module
 * ------------------------------------------------- */
@mixin link-transfer {
	a {
		text-decoration: none;
		color: #fff;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;

		&:hover {
			text-decoration: none;
			color: #fff;
			filter:alpha(opacity=50);
			-moz-opacity: 0.50;
			opacity: 0.50;
		}
	}
}

@mixin opacity($property:0,$propertyIE:0){
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$propertyIE})";
    filter: alpha(opacity=$propertyIE);
    -moz-opacity: $property;
    -khtml-opacity: $property;
    opacity: $property;
}

@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Comfortaa:400,700);

$path-img: '../../assets/imgs/';
$navy:#16216a;
$pale-blue:#91a1a5;
$pink:#c06c85;
$brown:#c8bfb6;
$dark-brown:#504845;
$black:#151618;

.font-comfortaa {
	font-family: 'Comfortaa', cursive;
}
.font-asap {
	font-family: 'Asap', sans-serif;
}



/* ------------------------------------------------- *
 *        contact-module
 * ------------------------------------------------- */
#contact {
	h1 {
		margin-top: 30px;
	}
	.contact-area {
		margin-top: 80px;
		.tit {
			@extend .font-asap;
			color: $navy;
			font-weight: 700;
			font-size: 1.8em;
			margin-bottom: 30px;
		}
		.bgTit {
			background: $navy;
			height: 8px;
		}
		.tit-deco {
			background-repeat: repeat-x;
			background-position: center -7px;
			height: 7px;
			//position: absolute;
			//z-index: 9993;
		}
		.img {
			position: relative;
			z-index: -10;
			margin-top: -10px;
		}

		.box-contact {
			//margin-top: 10px;
			.name {
				@extend .font-comfortaa;
				font-size: 1.40em;
				color: $navy;
				padding-bottom: 8px;
				border-bottom: 2px solid $brown;
				width: 40px;
				white-space: nowrap;
				margin-bottom: 15px;
			}
			.btn {
				margin-top: 10px;
			}
			li a {
				color: $pale-blue;
				cursor: pointer;
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
				&:hover {
					text-decoration: none;
					filter:alpha(opacity=50);
					-moz-opacity: 0.50;
					opacity: 0.50;
				}
			}
			li i {
				color: $navy;
			}
			input, textarea {
				margin-top: 10px;
			}
			textarea {
				height: 80px;
			}
			.form-group {
				padding-bottom: 30px;
				border-bottom: 2px dotted;
				color: $dark-brown;
			}
		}
	}
}




@media screen and (max-width:767px) {
	#contact {
		h1 {
			margin-top: 10px;
		}
		.contact-area {
			margin-top: 40px;

			.bgTit, .tit-deco, .img, img {
				max-width: 265px;
			}
			.img {
				margin-bottom: 10px;
			}

			.box-contact {
				//margin-top: 10px;
				//.name {
					//margin-bottom: 10px;
					//white-space: nowrap;
				//}
			}
		}
	}

}


