@charset "UTF-8";

/* ------------------------------------------------- *
 *        variable-module
 * ------------------------------------------------- */
@mixin link-transfer {
	a {
		text-decoration: none;
		color: #fff;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;

		&:hover {
			text-decoration: none;
			color: #fff;
			filter:alpha(opacity=50);
			-moz-opacity: 0.50;
			opacity: 0.50;
		}
	}
}

@mixin opacity($property:0,$propertyIE:0){
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$propertyIE})";
    filter: alpha(opacity=$propertyIE);
    -moz-opacity: $property;
    -khtml-opacity: $property;
    opacity: $property;
}

@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Comfortaa:400,700);

$path-img: '../../assets/imgs/';
$navy:#16216a;
$pale-blue:#91a1a5;
$pink:#c06c85;
$brown:#c8bfb6;
$dark-brown:#504845;
$black:#151618;

.font-comfortaa {
	font-family: 'Comfortaa', cursive;
}
.font-asap {
	font-family: 'Asap', sans-serif;
}

/* ------------------------------------------------- *
 *        story-module
 * ------------------------------------------------- */
#story {
	.h1-area {
		margin: 60px 0px;
		.bg-line-fluffy-above {
			background: url(#{$path-img}line-fluffy-above.png) repeat-x;
		}
		h1 {
			@extend .font-asap;
			font-size: 2.0em;
			//font-weight: 700;
			background: url(#{$path-img}line-fluffy-below.png) repeat-x;
			background-position: bottom;
			padding: 30px 0px;
			line-height: 1.4;
			margin-bottom: 20px;
		}
		fieldset {
			margin-top: 40px;
			border: 3px solid $navy;
			border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			padding: 20px 0px 40px 0px;

			legend {
				text-align: center;
				color: $navy;
				font-size: 2.0em;
				padding: 0px 20px;
			}

			.name {
				color: #fff;
				background: $navy;
				margin: 20px 0px 10px 0px;
				display: inline-block;
				padding: 5px 15px;
			}
			.boxFamily {
				padding: 0px 5px;
			}

			.boxLeft {
				padding: 0px 5px;
				//padding-right: 15px;
			}
			.boxRight {
				padding: 0px 5px;
				//padding-left: 15px;
			}
			img {
				max-width: 112px;
			}

		}


	}

	.bg-navy {
		background: $navy;
		color: #fff;
	}

	.boxPictureBook {
		padding: 40px 0px 60px 0px;
		.tit {
			font-size: 2.0em;
			line-height: 1.4;
			margin-bottom: 5px;
		}
		.titBottom {
			font-size: 2.0em;
			line-height: 1.4;
			margin-top: 60px;
		}
		.txt {
			margin-top: 20px;
		}
		.boxIn {
			margin-top: 60px;
			.boxLeft {
				padding: 0px 15px;
			}
			.boxRight {
				padding: 0px 15px;
			}

		}
	}

}




@media screen and (max-width:767px) {

	#story {
		.h1-area {
			margin: 40px 0px;

			h1 {
				font-size: 1.6em;
				padding: 30px 0px;
			}
			fieldset {
				margin-top: 30px;
				padding: 20px 0px 30px 0px;

				legend {
					font-size: 1.4em;
					padding: 0px 10px;
					white-space: nowrap;
				}

				.name {
					padding: 5px 10px;
					white-space: nowrap;
				}

				/*.boxLeft {
					padding-right: 10px;
				}
				.boxRight {
					padding-left: 10px;
				}*/
				.boxCharaBottom {
					margin-top: 20px;
				}
			}
		}

		.boxPictureBook {
			padding: 40px 0px 40px 0px;
			.tit {
				font-size: 1.6em;
				margin-bottom: 5px;
			}
			.titBottom {
				font-size: 1.6em;
				margin-top: 40px;
			}
			.txt {
				margin-top: 20px;
			}
			.boxIn {
				margin-top: 40px;
				.boxLeft {
					padding: 0px 0px;
				}
				.boxRight {
					padding: 0px 0px;
				}
				img {
					margin-bottom: 10px;
				}
			}
		}


	}


}


