/* ------------------------------------------------- *
 *        variable-module
 * ------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Comfortaa:400,700);
.font-comfortaa, #property .location .tit-location, #property .location .box-inside .tit-hotel, #property .facilities-area .tit-facilities {
  font-family: 'Comfortaa', cursive;
}

.font-asap {
  font-family: 'Asap', sans-serif;
}

.btnSurawongDetail {
  font-size: 1.1em;
}

/* ------------------------------------------------- *
 *        property-module
 * ------------------------------------------------- */
/*
figure.snip1132 {
  position: relative;
  float: left;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

figure.snip1132 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1132 img {
  max-width: 100%;
  position: relative;
  opacity: 1;
}

figure.snip1132 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1132:hover img,
figure.snip1132.hover img {
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}
*/
#property {
  /*
  .navi-rooms {
  	border-bottom: 6px solid $navy;
  	padding-bottom: 20px;
  	padding-top: 20px;
  	#scroll-menu a {
  		color: $pale-blue;
  		font-size: 1.3em;
  		padding: 0px 40px;
  		-webkit-transition-duration: 0.5s;
  		transition-duration: 0.5s;
  	}
  	a:hover {
  		text-decoration: none;
  		filter:alpha(opacity=50);
  		-moz-opacity: 0.50;
  		opacity: 0.50;
  	}
  }
  */
}
#property h1 {
  margin-top: 30px;
}
#property .value {
  margin-top: 60px;
}
#property .value .tit-value-area {
  background: #16216a;
  padding: 20px 0px;
}
#property .value .itemsValue a {
  text-decoration: none;
  color: #fff;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#property .value .itemsValue a:hover {
  text-decoration: none;
  color: #fff;
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.50;
}
#property .value .itemsValue a {
  color: #151618;
}
#property .value .itemsValue a:hover {
  text-decoration: none;
  color: #151618;
}
#property .value ul {
  padding: 10px;
  margin-left: 20px;
}
#property .value li {
  margin-bottom: 5px;
  list-style-type: disc;
}
#property .value .bg-grey {
  background: #f8f8f7;
}
#property .value .btn {
  padding: 15px 0px;
}
#property .box-inside-padding {
  padding: 0px 30px 20px 30px;
}
#property .location {
  margin-top: 60px;
}
#property .location .box-location {
  border: 6px solid #16216a;
}
#property .location .tit-location {
  font-size: 1.2em;
  background: #16216a;
  color: #fff;
  padding: 10px;
}
#property .location .bg {
  background-repeat: repeat-x;
  background-position: center -7px;
  height: 7px;
}
#property .location .box-inside {
  padding-top: 30px;
}
#property .location .box-inside .tit-hotel {
  font-size: 1.2em;
  background: url(../../assets/imgs/icon-dad.svg) no-repeat;
  background-position: 5px;
  padding-left: 35px;
  margin-left: -5px;
}
#property .location .box-inside .btn {
  margin-top: 10px;
  width: 95%;
}
#property .location .box-inside li a {
  color: #91a1a5;
  cursor: pointer;
}
#property .location .box-inside li i {
  color: #16216a;
}
#property .location .box-inside input, #property .location .box-inside textarea {
  margin-top: 10px;
  width: 95%;
}
#property .location .box-inside textarea {
  height: 80px;
  width: 95%;
}
#property .location .box-inside ul {
  margin-left: 20px;
}
#property .location .box-inside ul a {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#property .location .box-inside ul a:hover {
  text-decoration: none;
  color: #151618;
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.50;
}
#property .location .box-inside .list-map {
  margin-top: 20px;
}
#property .location .box-inside .map-area {
  border-top: 6px solid #16216a;
}
#property .location .box-inside .map-area #map_srawong {
  width: 100%;
  height: 380px;
}
#property .promotion {
  margin-top: 60px;
}
#property .promotion a {
  text-decoration: none;
  color: #fff;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#property .promotion a:hover {
  text-decoration: none;
  color: #fff;
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.50;
}
#property .ig-area {
  margin-top: 60px;
}
#property .detail-box.first-child {
  margin-top: 60px;
}
#property .detail-box.bg-navy {
  background: #16216a;
}
#property .detail-box.bg-white {
  background: #fff;
}
#property .detail-box .tit {
  font-size: 2.4em;
  line-height: 1.4;
  margin-bottom: 40px;
}
#property .detail-box .text-value {
  margin-top: 30px;
  margin-bottom: 50px;
}
#property .nav-tabs {
  border-bottom: 6px solid #16216a;
  padding-bottom: 20px;
  padding-top: 20px;
}
#property .box-carousel {
  margin-bottom: 10px;
}
#property .txt-room {
  margin: 5px 0px 10px 0px;
}
#property .box-room-right {
  padding-left: 30px;
}
#property .facilities-area {
  border-top: 6px solid #16216a;
  padding-top: 30px;
}
#property .facilities-area .list {
  padding-right: 15px;
}
#property .facilities-area .tit-facilities {
  font-size: 1.2em;
}
#property .facilities-area li {
  margin-bottom: 10px;
  line-height: 1.5;
}
#property .facilities-area li:before {
  font-family: FontAwesome;
  content: '\f192';
}

@media screen and (max-width: 991px) {
  .btnSurawongDetail {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 767px) {
  #property h1 {
    margin-top: 10px;
  }
  #property .value {
    margin-top: 40px;
  }
  #property .value .tit-value-area img {
    width: 80%;
  }
  #property .location {
    margin-top: 40px;
  }
  #property .location .box-inside {
    padding-top: 20px;
  }
  #property .location .box-inside .box-inside-above {
    padding: 0px 10px 20px 10px;
  }
  #property .location .box-inside .tit-hotel {
    background-position: 5px bottom;
    line-height: 1.4;
    margin-top: 15px;
    height: 23px;
  }
  #property .box-inside-padding {
    padding: 0px 10px 20px 10px;
  }
  #property .ig-area {
    margin-top: 40px;
  }
  #property .txt-room {
    margin: 10px 0px 15px 0px;
  }
  #property .box-room-right {
    padding-left: 0px;
  }
  #property .facilities-area {
    border-top: 6px solid #16216a;
    padding-top: 30px;
  }
  #property .facilities-area .list {
    padding-right: 0px;
  }
  #property .facilities-area .tit-facilities {
    font-size: 1.2em;
  }
  #property .facilities-area li {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  #property .detail-box.first-child {
    margin-top: 30px;
  }
  #property .detail-box .tit {
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  #property .detail-box .text-value {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.95;
  }

  .nav-tabs > li {
    float: left;
    margin: 0px;
    padding: 0px;
    width: auto;
  }

  .nav-tabs > li > a {
    font-size: 1.20em;
    margin: 0px;
    padding: 0px;
  }
}
