@charset "UTF-8";
/* ------------------------------------------------- *
 *        @mixin-module
 * ------------------------------------------------- */
/* Mixin */
/*
@mixin position($position:static,$top:auto,$right:auto,$bottom:auto,$left:auto,$z-index:0) {
  position:$position;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
  z-index:$z-index;
}
@mixin transform($property:none){
    transform:$property;
    -webkit-transform:$property;
    -moz-transform:$property;
    -o-transform:$property;
    -ms-transform:$property;
}
@mixin transition($property:none){
    transition:$property;
    -webkit-transition:$property;
    -moz-transition:$property;
    -o-transition:$property;
}
*/
/* ------------------------------------------------- *
 *        common-module
 * ------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Abhaya+Libre);
@font-face {
  font-family: "YuGothic M";
  src: local(Yu Gothic Medium);
}
.icon-sprite, .icon-bg-indian, .icon-contact-balloon, .icon-icon-case-news, .icon-icon-lang-jp, .icon-icon-lang-th {
  background-image: url('../imgs/icon-s4fce6020ce.png');
  background-repeat: no-repeat;
}

.icon-bg-indian {
  background-position: 0 0;
}

.icon-contact-balloon {
  background-position: 0 -169px;
}

.icon-icon-case-news {
  background-position: 0 -201px;
}

.icon-icon-lang-jp {
  background-position: 0 -264px;
}

.icon-icon-lang-th {
  background-position: 0 -282px;
}

html,
body {
  height: 100%;
}

body {
  background: #fff;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
  font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0px;
  padding: 0px;
  font-size: 1.0em;
  line-height: 1.75;
}

li {
  list-style-type: none;
}

/*gridのgutter調整*/
.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
.no-gutters > [class^="col-"], .no-gutters > [class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

.row-30 {
  margin-left: -15px;
  margin-right: -15px;
}
.row-30 > div {
  padding-right: 15px;
  padding-left: 15px;
}

.row-16 {
  margin-left: -8px;
  margin-right: -8px;
}
.row-16 > div {
  padding-right: 8px;
  padding-left: 8px;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background: #f7ea5b;
}

::selection {
  background: #f7ea5b;
}

::-moz-selection {
  background: #f7ea5b;
}

.btn-area-contact {
  margin-top: 40px;
}
.btn-area-contact .btn {
  line-height: 46px;
  width: 35%;
  font-size: 1.1em;
}
.btn-area-contact a {
  color: #000;
}

.bg-indian {
  background-position: right 10px;
  right: 0px;
  width: 100%;
  height: 179px;
  z-index: 3;
  position: absolute;
  right: 0px;
}

.stepCircleWrapper {
  text-align: center;
  margin-bottom: 25px;
}

.stepCircle {
  font-family: "游明朝", "游明朝 Light", "YuMincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  display: inline-block;
  font-size: 1.30em;
  line-height: 32px;
  letter-spacing: 2.0px;
  background: #172a86;
  color: #fff;
  width: 115px;
  height: 115px;
  padding-top: 29px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.stepCircle .num {
  font-size: 1.6em;
}

.bg-num {
  margin: 0 auto;
  z-index: 2;
  position: absolute;
  margin-top: -58px;
  left: -webkit-calc(50% - 58px);
  /*Chrome19~25対応*/
  left: -moz-calc(50% - 58px);
  /*Firefox4~15対応*/
  left: calc(50% - 58px);
}

/* ------------------------------------------------- *
 *        @extend-module
 * ------------------------------------------------- */
.font-abhaya, .tit-en, #contact .tel-fax .balloon .font-num {
  font-family: 'Abhaya Libre', serif;
}

.font-serif-jp, .tit-jp, #paints h1, #paints .tab-area .info-tit, #evaluate .box-astec-policy .info-tit {
  font-family: "游明朝", "游明朝 Light", "YuMincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
}

.win .font-serif-jp, .win .tit-jp, .win #paints h1, #paints .win h1, .win #paints .tab-area .info-tit, #paints .tab-area .win .info-tit, .win #evaluate .box-astec-policy .info-tit, #evaluate .box-astec-policy .win .info-tit {
  font-weight: 600;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt100 {
  margin-top: 100px;
}

.mt120 {
  margin-top: 120px;
}

.height61, .btn-area-contact .btn, #top .btn-case-study, #contact .form .btn, #paints .btn-paints-lower .btn-case-study, #case .btn-case-study {
  height: 61px;
}

.h1-size, #top h1, #company h1, #contact h1, #case h1, .extend-h1, #evaluate h1, #safety h1, #staff h1, #flow h1 {
  margin-top: 50px;
  font-size: 1.1em;
  font-weight: bold;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border-bottom: 3px solid #ebebeb;
  white-space: nowrap;
  line-height: 1.75;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f7ea5b;
  letter-spacing: 3.0px;
  z-index: 1;
  position: relative;
}
.btn a {
  color: #000;
}
.btn a:hover {
  text-decoration: none;
}

.extend-tit-jp, .lower-promotion-area .tit-promotion-area .tit-jp, #top .top-promotion-area .tit-promotion-area .tit-jp {
  padding-top: 15px;
  color: #000;
}

.btn-100per {
  width: 100%;
}

.tit-jp {
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 3.0px;
}

.tit-en {
  text-align: center;
  font-size: 1.3em;
  color: #656f75;
  letter-spacing: 0.5px;
  margin-top: 0px;
  line-height: 1.2;
}

.tit-hr hr {
  width: 38px;
  background-color: #d02b1a;
  height: 3px;
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.interview-th1, #top .box-case-study, #case .box-case-study {
  background-color: #656f75;
  padding-bottom: 10px;
}

.interview-th2, #top .box-case-study img, #case .box-case-study img {
  z-index: 1;
  position: relative;
}

.interview-th3, #top .box-case-study .new-case-study, #case .box-case-study .new-case-study {
  z-index: 3;
  position: absolute;
}

.interview-th4, #top .box-case-study .icon-news, #case .box-case-study .icon-news {
  width: 63px;
  height: 63px;
}

.interview-th5, #top .box-case-study .paints-case-study, #case .box-case-study .paints-case-study {
  background-color: #656f75;
  margin: -25px 0px 0px 10px;
  padding: 5px 10px;
  display: inline;
  z-index: 2;
  position: absolute;
  font-size: 0.9em;
}

.interview-th6, #top .box-case-study .tit-case-study, #case .box-case-study .tit-case-study {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.3;
  padding: 10px 10px 5px 10px;
}

.interview-th7, #top .box-case-study .place-case-study, #top .box-case-study .date-case-study, #case .box-case-study .place-case-study, #case .box-case-study .date-case-study {
  font-size: 0.9em;
  padding: 0px 10px;
}

.interview-th8, #top .from-blog a, #case .from-blog a, #case .from-article-jp a {
  color: #fff;
}

.interview-th9, #top .from-blog a:hover, #case .from-blog a:hover, #case .from-article-jp a:hover {
  color: #f7ea5b;
  text-decoration: none;
}

.btn-interview1, #top .icon-btn-interview, #case .icon-btn-interview {
  position: relative;
  overflow: hidden;
  /* 下のulのcssでリスト全体を右に50%移動しているので、その分幅が広がってしまいスクロールバーが表示されてしまいます。それを防ぐ為の設定です。 */
  margin-top: -35px;
}

.btn-interview2, #top .icon-btn-interview ul, #case .icon-btn-interview ul {
  position: relative;
  left: 50%;
  /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}

.btn-interview3, #top .icon-btn-interview ul li, #case .icon-btn-interview ul li {
  position: relative;
  left: -50%;
  /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
}

.btn-interview4, #top .text-btn-interview, #case .text-btn-interview {
  padding: 45px 0px 0px 5px;
}

.btn-interview5, #top .btn-th-jp, #paints .btn-paints-lower, #case .btn-th-jp {
  margin-top: 40px;
}

.sub-title-blue, #paints h3, #case .box-interview-jp h3, .extend-midashi-box-astec-policy, #evaluate .box-astec-policy .midashi-box-astec-policy, #safety .box-astec-policy .midashi-box-astec-policy {
  font-size: 2.0em;
  font-weight: bold;
  color: #175886;
  margin-bottom: 0px;
  letter-spacing: 1.6px;
}

/* ------------------------------------------------- *
 *        header-module
 * ------------------------------------------------- */
.btn-header {
  position: fixed;
  right: 5px;
  top: -2px;
  z-index: 9999;
}
.btn-header li {
  float: right;
  width: 165px;
}
.btn-header li:last-child {
  margin-right: 5px;
}
.btn-header li a {
  color: #000;
}

.btn-header .btn-fixed {
  line-height: 1.0;
  letter-spacing: 2.0px;
}

.logo-header-area {
  margin-top: 45px;
  margin-bottom: 50px;
}

.logo-header {
  width: 185px;
  height: 46px;
  background: url(../../assets/imgs/logo.svg) no-repeat;
}

.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

.navbar-nav > li > a {
  padding: 0px 0px 50px 0px;
  margin-right: 30px;
}

.navbar-nav > li:last-child > a {
  margin-right: 0px;
}

.navbar-nav > li:nth-last-child(2) > a {
  margin-right: 10px;
}

.navbar {
  position: relative;
  min-height: auto;
  margin-bottom: 0px;
  border: none;
}

.navbar-default {
  background-color: #fff;
  border-color: none;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #175886;
  background-color: transparent;
}

.navbar-header {
  float: none;
  text-align: center;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #fff;
}

.dropdown-menu > li > a {
  padding: 6px 20px;
  font-weight: normal;
  line-height: 1.75;
  color: #000;
}

.flag {
  width: 26px;
  height: 18px;
}

/* ------------------------------------------------- *
 *        bread-crumb-module
 * ------------------------------------------------- */
.breadcrumb {
  background: #f7ea5b;
  font-size: 0.9em;
  letter-spacing: 1.2px;
}

.breadcrumb a {
  color: #000;
}

/* ------------------------------------------------- *
 *        footer-module
 * ------------------------------------------------- */
footer {
  margin-top: 80px;
  color: #fff;
}

.footer-info {
  padding: 35px 0px 30px 0px;
  background-color: #172a86;
}

.footer-info .footer-info-center {
  padding-right: 15px;
}

.txt-footer {
  font-size: 0.9em;
  line-height: 1.75;
  letter-spacing: 1.3px;
}

.logo-footer {
  width: 166px;
  height: 41px;
  background: url(../../assets/imgs/logo-footer.svg) no-repeat;
}

.txt-footer-logo {
  font-size: 0.85em;
  margin-top: 5px;
}

.footer-navi {
  background-color: #175886;
  text-align: center;
  padding: 60px 0px;
}
.footer-navi li {
  width: auto;
}

.footer-navi li a:hover, .footer-footer li a:hover, .copyright a:hover {
  text-decoration: none;
  color: #f7ea5b;
}

.footer-navi .inline {
  text-align: center;
}
.footer-navi .inline li {
  display: inline;
}
.footer-navi .inline li:after {
  padding: 0px 15px;
  content: "|";
}
.footer-navi .inline li:nth-last-child(3):after {
  content: none;
  padding-right: 0px;
}

.footer-navi .navi-sns .inline li:after {
  content: "";
}

.footer-navi .navi-sns .inline li:last-child:after {
  content: none;
  padding-right: 0px;
}

/*
.footer-navi .inline-block {
	text-align: center;
}
.footer-navi .inline-block li {
	display: inline-block;
}
.footer-navi .inline-block li:after {
	padding: 0px 15px;
      content:"|";
}
.footer-navi .inline-block li:last-child:after {
	content:none;
	padding-right: 0px;
}
*/
.footer-navi li a {
  color: #fff;
}

.navi-sns {
  margin-top: 30px;
}

.footer-footer {
  background-color: #000;
  border-top: 3px solid #f7ea5b;
  padding: 10px 0px;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?m66nwe");
  src: url("fonts/icomoon.eot?m66nwe#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?m66nwe") format("truetype"), url("fonts/icomoon.woff?m66nwe") format("woff"), url("fonts/icomoon.svg?m66nwe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-logo:before {
  content: "\e900";
  font-size: 1.3em;
  vertical-align: -10%;
}

.footer-btn li {
  float: left;
}
.footer-btn li:first-child {
  margin-right: 30px;
}

.copyright {
  font-size: 0.8em;
}
.copyright a {
  font-style: italic;
}

.footer-footer a {
  color: #fff;
}

.lower-promotion-area .bg-estimate {
  background: url(../../assets/imgs/estimate-bg.jpg) no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 30px;
}
.lower-promotion-area .tit-promotion-area {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  font-size: 0.90em;
}
.lower-promotion-area .tit-promotion-area .tit-hr hr {
  margin-bottom: 40px;
}
.lower-promotion-area .text-promotion-area {
  padding: 0px 0px 0px 0px;
  font-size: 0.95em;
}
.lower-promotion-area a {
  font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  display: block;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
.lower-promotion-area a:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.50;
  text-decoration: none;
}

/* ------------------------------------------------- *
 *        top-module
 * ------------------------------------------------- */
#top {
  /*.btn-interview {
  	margin-top:30px;
  }*/
}
#top h3 {
  font-size: 1.0em;
  margin-bottom: 50px;
}
#top section p {
  margin-top: 7px;
}
#top .paints-thumb {
  margin-top: 30px;
}
#top .paints a {
  font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  display: block;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
#top .paints a:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.50;
  text-decoration: none;
}
#top .paints img {
  padding-bottom: 3px;
}
#top .icon-btn-th-jp {
  position: relative;
  overflow: hidden;
}
#top .icon-btn-th-jp ul {
  position: relative;
  left: 50%;
  float: left;
  padding-top: 7px;
}
#top .icon-btn-th-jp ul li {
  position: relative;
  left: -50%;
  float: left;
  list-style: none;
}
#top .text-btn-th-jp {
  padding: 4px 0px 0px 10px;
}
#top .btn-th-jp .btn-th-sides {
  padding-right: 15px;
}
#top .btn-th-jp .btn-jp-sides {
  padding-left: 15px;
}
#top .btn-jp-sides a, #top .btn-th-sides a {
  color: #000;
}
#top .top-promotion-area .bg-safety-area {
  padding-right: 15px;
}
#top .top-promotion-area .bg-safety {
  background: url(../../assets/imgs/top5.jpg) no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 70px;
}
#top .top-promotion-area .bg-estimate-area {
  padding-left: 15px;
}
#top .top-promotion-area .bg-estimate {
  background: url(../../assets/imgs/top6.jpg) no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 70px;
}
#top .top-promotion-area .tit-promotion-area {
  background: #fff;
  width: 55%;
  margin: 0 auto;
  font-size: 0.9em;
}
#top .top-promotion-area .tit-promotion-area .tit-hr hr {
  margin-bottom: 40px;
}
#top .top-promotion-area .text-promotion-area {
  padding: 0px 30px;
}
#top .top-promotion-area .img-promotion-area {
  margin-top: 20px;
}
#top .top-promotion-area a {
  font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  display: block;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
#top .top-promotion-area a:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 0.50;
  opacity: 0.50;
  text-decoration: none;
}

/* ------------------------------------------------- *
 *        company-module
 * ------------------------------------------------- */
#company h3 {
  font-size: 1.0em;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
#company h3 .font-s {
  margin-top: 30px;
  font-style: italic;
  font-size: 0.9em;
}
#company .greeting .img-profile {
  margin-top: 30px;
  text-align: center;
}
#company .greeting .txt-profile .position {
  font-size: 0.9em;
  margin-top: 20px;
  letter-spacing: 0px;
}
#company .greeting .txt-profile .name {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.35;
}
#company .greeting .btn {
  border: 1px solid #175886;
  line-height: 1.75;
  border-radius: 3px;
  background-color: #fff;
  letter-spacing: 2.0px;
}
#company .greeting a {
  color: #175886;
}
#company .company-info .box-list {
  border: 1px solid #e5e5e5;
}
#company .company-info .box-list .pd-box-list {
  padding: 20px 20px;
}
#company .company-info .box-list .pd-box-list b {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#company .company-info .box-list .pd-box-list2 {
  padding: 20px 20px;
}
#company .company-info .box-list .name-branch {
  font-weight: bold;
}
#company .company-info .box-list .tit {
  font-weight: bold;
}
#company .company-info .box-list .border-left {
  border-left: 1px solid #e5e5e5;
}
#company .company-info .box-list .border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
#company .company-info .box-list .border-bottom2 {
  border-bottom: 1px solid #e5e5e5;
}
#company .company-info .box-list .bg-color {
  margin-top: 5px;
}
#company #map_space1 {
  margin-top: 10px;
  width: 100%;
  height: 380px;
}
#company #map_space2 {
  margin-top: 10px;
  width: 100%;
  height: 380px;
}
#company .map_title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

/* ------------------------------------------------- *
 *        contact-module
 * ------------------------------------------------- */
#contact h3 {
  font-size: 1.0em;
  margin-top: 30px;
  margin-bottom: 20px;
}
#contact .form .box-list {
  border: 1px solid #e5e5e5;
}
#contact .form .box-list .pd-box-list {
  padding: 20px 20px;
}
#contact .form .box-list .tit {
  font-weight: bold;
}
#contact .form .box-list .border-left {
  border-left: 1px solid #e5e5e5;
}
#contact .form .box-list .border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
#contact .form .btn {
  line-height: 1.75;
  width: 35%;
  padding-top: 15px;
  font-size: 1.1em;
}
#contact .form a {
  color: #000;
}
#contact .form .form-control {
  height: 28px;
  padding: 0px 10px;
  font-size: 1em;
  line-height: 1.75;
  color: #555555;
  border: 1px solid #ccc;
}
#contact .form .form-control:focus {
  border-color: #f7ea5b;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 234, 91, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 234, 91, 0.6);
}
#contact .form textarea.form-control {
  height: auto;
  height: 150px;
}
#contact .form .radio, #contact .form .checkbox {
  position: relative;
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}
#contact .tel-fax .balloon {
  margin-top: 20px;
  border: 1px solid #175886;
  border-radius: 3px;
  padding: 40px 0px;
  z-index: 1;
  position: relative;
}
#contact .tel-fax .balloon .balloon-greet {
  margin-bottom: 30px;
}
#contact .tel-fax .balloon .info-tel-fax {
  margin-top: 20px;
}
#contact .tel-fax .balloon .border-top {
  border-top: 1px solid #175886;
}
#contact .tel-fax .balloon .txt-tel-fax {
  padding-top: 20px;
}
#contact .tel-fax .balloon .font-num {
  font-size: 2.6em;
}
#contact .tel-fax .icon-balloon {
  margin-top: -1px;
  z-index: 2;
  position: absolute;
  width: 100%;
  width: 30px;
  height: 32px;
  left: -webkit-calc(50% - 15px);
  /*Chrome19~25対応*/
  left: -moz-calc(50% - 15px);
  /*Firefox4~15対応*/
  left: calc(50% - 15px);
}
#contact .tel-fax .img-profile {
  margin-top: 30px;
  text-align: center;
}
#contact .tel-fax .txt-profile .position {
  font-size: 0.9em;
  margin-top: 20px;
  letter-spacing: 0px;
}
#contact .tel-fax .txt-profile .name {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.35;
}

/* ------------------------------------------------- *
 *        paints-module
 * ------------------------------------------------- */
#paints h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 3.0px;
}
#paints h2 {
  font-size: 1.0em;
  margin-top: 30px;
  font-weight: bold;
}
#paints h3 {
  margin-top: 80px;
  line-height: 0;
}
#paints p {
  margin-top: 10px;
}
#paints .tab-area .box-tab-content {
  border: 3px solid #175886;
  padding-bottom: 20px;
}
#paints .tab-area .tit-img img {
  margin: 0 auto;
}
#paints .tab-area .bg-grey {
  margin-top: 100px;
  background: #e0e2e3;
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 0px 30px;
}
#paints .tab-area .info-tit {
  font-size: 2.6em;
  letter-spacing: 3.0px;
  margin-top: 50px;
  margin: 50px 0px 20px 0px;
  line-height: 1.2;
}
#paints .tab-area .info-tit2 {
  font-size: 2.4em;
}
#paints .tab-area .info-img {
  margin-top: 20px;
  padding-bottom: 50px;
}
#paints .tab-area .box-left {
  padding-right: 10px;
}
#paints .tab-area .box-right {
  padding-left: 10px;
}
#paints .tab-area .box-left-divide3 {
  padding-right: 5px;
}
#paints .tab-area .box-center-divide3 {
  padding-right: 5px;
  padding-left: 5px;
}
#paints .tab-area .box-right-divide3 {
  padding-left: 5px;
}
#paints .btn-paints-lower .text-btn-th-jp {
  padding-top: 8px;
}
#paints .btn-paints-lower .btn-th-sides {
  padding-right: 15px;
}
#paints .btn-paints-lower .btn-jp-sides {
  padding-left: 15px;
}
#paints .btn-paints-lower .btn-jp-sides a, #paints .btn-paints-lower .btn-th-sides a {
  color: #000;
  font-size: 1.1em;
}
#paints .roof .box-attention {
  background: #175886;
  color: #fff;
  margin-top: 60px;
}
#paints .roof .tit-attention {
  color: #d02b1a;
  background: #fff;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 3.0px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#paints .roof .img-attention {
  width: 102px;
  margin: 0 auto;
}
#paints .roof .img-silicone {
  padding: 30px 0px;
  text-align: center;
}
#paints .roof .header-attention {
  width: 100%;
  z-index: 9999;
  position: absolute;
}
#paints .roof .txt-attention {
  z-index: 3;
  position: absolute;
  margin-top: 120px;
}
#paints .others .content-others {
  padding-bottom: 50px;
}
#paints .others .text-othres {
  margin-left: 20px;
}
#paints .tab-pane {
  margin-left: 20px;
  margin-right: 20px;
}
#paints .nav-tabs {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: none;
}
#paints .nav-tabs:before, #paints .nav-tabs:after {
  content: " ";
  display: table;
}
#paints .nav-tabs:after {
  clear: both;
}
#paints .nav-tabs > li {
  position: relative;
  display: block;
  margin-bottom: 0px;
  width: -webkit-calc(25% - 10px);
  width: -moz-calc(25% - 10px);
  width: calc(25% - 10px);
  margin-right: 10px;
}
#paints .nav-tabs > li:last-child {
  margin-right: 0px;
  width: 25%;
}
#paints .nav-tabs > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #000;
  margin-right: 0px;
  line-height: 1.42857;
  border: 1px solid #175886;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
  width: 100%;
}
#paints .nav-tabs > li > a:hover, #paints .nav-tabs > li > a:focus {
  background-color: #175886;
  color: #fff;
  border-color: #175886;
}
#paints .nav-tabs > li.disabled > a {
  color: #777777;
}
#paints .nav-tabs > li.disabled > a:hover, #paints .nav-tabs > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
#paints .nav-tabs .open > a, #paints .nav-tabs .open > a:hover, #paints .nav-tabs .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
#paints .nav-tabs > li.active > a, #paints .nav-tabs > li.active > a:hover, #paints .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #175886;
  border: 1px solid #175886;
  border-bottom-color: transparent;
  cursor: default;
}

/* ------------------------------------------------- *
 *        case-module
 * ------------------------------------------------- */
#case {
  /*.btn-interview {
  	margin-top:30px;
  }*/
}
#case h3 {
  font-size: 1.0em;
  margin-bottom: 50px;
}
#case .case-jp .box-case-study {
  color: #fff;
}
#case .interview-jp .box-case-study .tit-case-study,
#case .case-jp .box-case-study .tit-case-study {
  font-size: 1.45em;
}
#case .btn-th-jp a {
  color: #000;
}
#case .interview-jp-lower {
  margin-top: 30px;
}
#case .case-th-lower {
  margin-top: 50px;
}
#case .interview-jp .btn {
  width: 100%;
}
#case .interview-th .interview-category {
  font-weight: bold;
  color: #175886;
}
#case .interview-th h1 {
  font-size: 2.6em;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
  line-height: 1.2;
}
#case .interview-th .interview-header {
  margin-top: 20px;
}
#case .interview-th .interview-date {
  color: #656f75;
}
#case .interview-th .interview-eyecatch {
  margin: 30px 0px;
}
#case .interview-th .body-article h2 {
  margin-top: 50px;
  font-size: 2.0em;
  line-height: 1.3;
  color: #175886;
  font-weight: bold;
}
#case .interview-th .body-article p {
  margin-top: 25px;
}
#case .interview-th .body-article p b {
  background-color: #f7ea5b;
}
#case .interview-th .body-article .question {
  font-weight: bold;
}
#case .interview-th .body-article .caption {
  font-style: italic;
  color: #656f75;
  text-align: right;
  font-size: 0.9em;
  margin-top: 0px;
  padding-bottom: 10px;
}
#case .interview-th .body-article img {
  margin-top: 25px;
  display: block;
  max-width: 100%;
  height: auto;
}
#case .interview-th .body-article .info-company {
  margin-top: 80px;
}
#case .interview-th .body-article .table {
  margin-top: 10px;
}
#case .interview-th .body-article .table > thead > tr > th,
#case .interview-th .body-article .table > thead > tr > td,
#case .interview-th .body-article .table > tbody > tr > th,
#case .interview-th .body-article .table > tbody > tr > td,
#case .interview-th .body-article .table > tfoot > tr > th,
#case .interview-th .body-article .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.75;
  vertical-align: top;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
#case .interview-th .body-article .table td {
  white-space: nowrap;
}
#case .interview-th .body-article .table .tit {
  background-color: #175886;
  color: #fff;
}
#case .interview-th .body-article .table .body {
  background-color: #e0e2e3;
}
#case .interview-th .body-article .interview-latest {
  margin-top: 80px;
}
#case .interview-th .body-article .interview-latest img {
  margin-top: 0px;
}
#case .interview-th .body-article .interview-latest .box-latest {
  margin-top: 20px;
}
#case .interview-th .body-article .interview-latest .col-xs-17 {
  padding: 0px 20px;
  line-height: 1.2;
}
#case .interview-th .body-article .interview-latest .com-name {
  font-size: 1.3em;
  font-weight: bold;
}
#case .interview-th .body-article .interview-latest .com-category {
  font-size: 0.9em;
  margin-top: 8px;
}
#case .interview-th .body-article .interview-latest a {
  color: #000;
}
#case .interview-th .body-article .interview-latest a:hover {
  color: #175886;
}
#case .interview-th .btn-sns-bottom {
  text-align: right;
  margin-top: 20px;
}
#case .interview-th .btn {
  width: 100%;
}
#case .box-interview-jp {
  margin-top: 100px;
  text-align: center;
}
#case .box-interview-jp.box-first {
  margin-top: 50px;
}
#case .box-interview-jp h3 {
  line-height: 1.5;
}
#case .box-interview-jp .h3-small {
  font-size: 0.65em;
}
#case .box-interview-jp .interview-jp-place {
  color: #656f75;
  margin: 0px;
  letter-spacing: 2.4px;
  font-size: 0.95em;
}
#case .box-interview-jp h4 {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0px 0px 0px;
  letter-spacing: 0px;
}
#case .box-interview-jp p {
  margin-top: 20px;
}
#case .box-interview-jp li {
  list-style-type: disc;
  text-align: left;
  margin-left: 20px;
}
#case .box-interview-jp img {
  margin-top: 20px;
}
#case .box-interview-jp .img-3pieces {
  margin-top: 0px;
}
#case .box-interview-jp .hr-case {
  margin-top: 40px;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}

/* ------------------------------------------------- *
 *        evaluate-module
 * ------------------------------------------------- */
.extend-lp-head-img, #evaluate .lp-head-img, #safety .lp-head-img {
  margin-top: 40px;
  z-index: 1;
  position: relative;
}

.extend-box-header, #evaluate .box-header, #safety .box-header {
  position: absolute;
  z-index: 2;
  margin-top: -40px;
  width: 100%;
}

.extend-h1, #evaluate h1, #safety h1 {
  background: #fff;
  padding: 20px;
  margin-top: 0px;
}

.extend-site-situation, #evaluate .site-situation, #safety .site-situation {
  background: #175886;
  color: #fff;
  padding-bottom: 60px;
}

.extend-h2, #evaluate h2, #safety h2 {
  margin: 50px 0px 30px 0px;
  font-size: 3.7em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3.8px;
}

.extend-h3, #evaluate h3, #safety h3 {
  width: 100%;
  border: 2px solid #fff;
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 0px;
}

.extend-h4, #evaluate h4, #safety h4 {
  font-weight: normal;
  font-size: 1.0em;
  margin-top: 40px;
}

.extend-arrow, #evaluate .arrow, #safety .arrow {
  width: 0;
  height: 0;
  border-top: 60px solid #175886;
  border-right: 110px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 110px solid transparent;
  margin: 0 auto;
}

.extend-box-astec-policy, #evaluate .box-astec-policy, #safety .box-astec-policy {
  border: 2px solid #172a86;
  padding-bottom: 60px;
}

.extend-tit-box-astec-policy, #evaluate .box-astec-policy .tit-box-astec-policy, #safety .box-astec-policy .tit-box-astec-policy {
  background: #172a86;
}

.extend-midashi-box-astec-policy, #evaluate .box-astec-policy .midashi-box-astec-policy, #safety .box-astec-policy .midashi-box-astec-policy {
  margin-top: 50px;
}

.extend-box-child-astec-policy, #evaluate .box-astec-policy .box-child-astec-policy, #safety .box-astec-policy .box-child-astec-policy {
  padding: 0px 20px;
  margin-top: 20px;
}

.extend-baloon, #evaluate .box-astec-policy .baloon, #safety .box-astec-policy .baloon {
  background: #d02b1a;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.5;
  width: 215px;
  padding: 25px 0px;
  margin: 0 auto;
  margin-top: 50px;
}

.extend-baloon-tail, #evaluate .box-astec-policy .baloon-tail, #safety .box-astec-policy .baloon-tail {
  width: 0;
  height: 0;
  border-top: 35px solid #d02b1a;
  border-right: 35px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 35px solid transparent;
  margin: 0 auto;
}

#evaluate h2 {
  line-height: 1.3;
}
#evaluate h3 .single-line {
  padding-top: 15px;
}
#evaluate h4 {
  margin-bottom: 50px;
}
#evaluate h4 p {
  margin-top: 10px;
}
#evaluate .box-astec-policy .img-astec-policy {
  margin-top: 50px;
}
#evaluate .box-astec-policy h3 {
  border-color: #175886;
  color: #175886;
  line-height: 1.3;
}
#evaluate .box-astec-policy .bg-grey {
  margin-top: 100px;
  background: #e0e2e3;
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 0px 30px;
}
#evaluate .box-astec-policy .info-tit {
  font-size: 2.6em;
  letter-spacing: 3.0px;
  margin-top: 50px;
  margin: 50px 0px 20px 0px;
  line-height: 1.2;
}
#evaluate .box-astec-policy .info-tit2 {
  font-size: 2.4em;
}
#evaluate .box-astec-policy .info-img {
  margin-top: 20px;
  padding-bottom: 50px;
}
#evaluate .box-astec-policy .box-left {
  padding-right: 10px;
}
#evaluate .box-astec-policy .box-right {
  padding-left: 10px;
}
#evaluate .box-astec-policy .astec-policy-lower {
  margin-top: 30px;
}

/* ------------------------------------------------- *
 *        safety-module
 * ------------------------------------------------- */
#safety h4 p {
  margin-top: 10px;
}
#safety .box-astec-policy h3 {
  border-color: #175886;
  color: #175886;
  line-height: 1.3;
}
#safety .astec-policy-lower {
  margin-top: 30px;
}
#safety .astec-policy-lower h3 {
  height: 75px;
}
#safety .astec-policy-lower .oneline {
  padding-top: 22px;
}
#safety .astec-policy-lower .font-s {
  font-size: 0.7em;
}

/* ------------------------------------------------- *
 *        staff-module
 * ------------------------------------------------- */
#staff h3 {
  font-size: 1.0em;
  margin-bottom: 50px;
}
#staff .boss {
  margin-top: 70px;
}
#staff .img-profile {
  text-align: center;
  margin-bottom: 10px;
}
#staff .txt-profile .position {
  font-size: 0.9em;
  margin-top: 20px;
  letter-spacing: 0px;
}
#staff .txt-profile .name {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0px;
  margin-top: 3px;
}
#staff .txt-profile .nicName {
  font-size: 0.8em;
  margin-top: -5px;
  color: #656f75;
}
#staff .staff-lower {
  margin-top: 30px;
}
#staff .staff a {
  width: 252px;
  height: 208px;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

/* ------------------------------------------------- *
 *        flow-module
 * ------------------------------------------------- */
#flow .box-step img {
  backface-visibility: hidden;
}
#flow .content-flow .content-top {
  padding-left: 30px;
}
#flow .content-flow .content-bottom {
  margin-top: 30px;
}
#flow .content-flow .content-bottom .img-content-bottom {
  padding-right: 10px;
}
#flow .content-flow .content-bottom .img-content-bottom img {
  width: 100%;
}
#flow .content-flow .tit-bottom {
  font-weight: bold;
  color: #fff;
  background-color: #175886;
  padding: 10px 20px;
  display: inline;
}
#flow .content-flow .box-bottom {
  margin-top: 15px;
}
#flow .content-flow .tit-content {
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0 15px;
}
#flow .content-flow .tit-content span {
  color: #fff;
  background-color: #175886;
  padding: 10px 3px;
  box-decoration-break: clone;
  -moz-box-shadow: 15px 0px 0px #175886, -15px 0px 0px #175886;
  -webkit-box-shadow: 15px 0px 0px #175886, -15px 0px 0px #175886;
  box-shadow: 15px 0px 0px #175886, -15px 0px 0px #175886;
}

/* ------------------------------------------------- *
 *        hover-module
 * ------------------------------------------------- */
/* Underline From Left */
.hvr-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  /*overflow: hidden;*/
}

.hvr-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #175886;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline:hover:before, .hvr-underline:focus:before, .hvr-underline:active:before {
  right: 0;
}

/* ------------------------------------------------- *
 *        font-awesome-module
 * ------------------------------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-phone:before {
  content: "\f095";
}

.fa-facebook-official:before {
  content: "\f230";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-file-text:before {
  content: "\f15c";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-home:before {
  content: "\f015";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-fax:before {
  content: "\f1ac";
}

/* ------------------------------------------------- *
 *        responsive-module
 * ------------------------------------------------- */
@media screen and (max-width: 991px) {
  .btn {
    letter-spacing: 1.0px;
  }

  .row-30 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row-30 > div {
    padding-right: 5px;
    padding-left: 5px;
  }

  .row-16 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .row-16 > div {
    padding-right: 5px;
    padding-left: 5px;
  }

  .mt100 {
    margin-top: 80px;
  }

  .mt120 {
    margin-top: 80px;
  }

  .tit-hr hr {
    margin-bottom: 30px;
  }

  footer {
    margin-top: 50px;
  }

  .footer-info .footer-info-center {
    padding-left: 15px;
  }
  .footer-info .footer-info-right {
    line-height: 2.05;
  }
  .footer-info .footer-info-right a {
    color: #fff;
  }

  /*
  .lower-promotion-area {
  	.text-promotion-area {
  		padding: 0px 20px 0px 0px;
  	}
  }
  */
  .lower-promotion-area .tit-promotion-area {
    width: 83%;
  }
  .lower-promotion-area .text-promotion-area {
    padding: 0px 20px 0px 20px;
    text-align: center;
  }
  .lower-promotion-area .img-promotion-area {
    width: 192px;
    margin: 0 auto;
  }

  #top .paints-thumb {
    margin-top: 20px;
  }
  #top .top-promotion-area .bg-safety-area {
    padding-right: 10px;
    margin-bottom: 20px;
  }
  #top .top-promotion-area .bg-safety {
    padding-top: 30px;
  }
  #top .top-promotion-area .bg-estimate-area {
    padding-left: 10px;
  }
  #top .top-promotion-area .bg-estimate {
    padding-top: 30px;
  }
  #top .top-promotion-area .tit-promotion-area {
    width: 83%;
  }
  #top .top-promotion-area .tit-promotion-area .tit-jp {
    padding-top: 15px;
    color: #000;
  }
  #top .top-promotion-area .tit-promotion-area .tit-hr hr {
    margin-bottom: 30px;
  }
  #top .icon-btn-interview {
    margin-top: -15px;
  }
  #top .text-btn-interview {
    padding: 28px 0px 0px 0px;
  }
  #top .icon-btn-interview img {
    width: 76px;
  }

  #contact .tel-fax .balloon {
    padding: 40px 10px;
  }
  #contact .tel-fax .balloon .border-top {
    border-top: none;
  }
  #contact .tel-fax .balloon .info-tel-fax {
    margin-top: 0px;
  }
  #contact .tel-fax .balloon .col-xs-24 .text-left {
    text-align: center;
  }
  #contact .tel-fax .balloon .info-tel-fax {
    margin-bottom: 30px;
  }
  #contact .tel-fax .balloon .txt-tel-fax {
    background: #000;
    color: #fff;
    padding-top: 0px;
    display: inline;
    padding: 10px 20px;
  }
  #contact .tel-fax .balloon .font-num {
    font-size: 2.4em;
  }

  #paints .mt50 {
    margin-top: 10px;
  }
  #paints h3 {
    margin-top: 60px;
  }
  #paints .nav-tabs > li > a {
    padding: 10px 5px;
  }
  #paints .bg-indian {
    width: 0%;
    height: 0px;
  }
  #paints .roof .box-attention .img-silicone img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  #paints .roof .box-attention {
    margin-top: 0px;
  }
  #paints .roof .img-attention {
    width: 62px;
  }
  #paints .roof .tit-attention {
    color: #f7ea5b;
    background: #175886;
    font-size: 1.8em;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 3.0px;
    width: 100%;
  }
  #paints .roof .header-attention {
    width: 100%;
    z-index: auto;
    position: static;
  }
  #paints .roof .txt-attention {
    z-index: auto;
    position: static;
    margin-top: 0px;
    padding-bottom: 20px;
  }

  #case .interview-jp-lower {
    margin-top: 10px;
  }
  #case .case-th-lower {
    margin-top: 30px;
  }

  #evaluate .lp-head-img {
    margin-top: 0px;
    position: static;
  }
  #evaluate .box-header {
    position: static;
    margin-top: 0px;
    height: auto;
  }

  #safety .lp-head-img {
    margin-top: 0px;
    position: static;
  }
  #safety .box-header {
    position: static;
    margin-top: 0px;
    height: auto;
  }
  #safety .mt120 {
    margin-top: 0px;
  }

  #staff .txt-profile .position {
    margin-top: 5px;
  }
  #staff .staff-lower {
    margin-top: 0px;
  }

  .sp-mb {
    margin-bottom: 30px;
  }

  #flow .content-flow {
    margin-top: 10px;
  }
  #flow .content-flow .content-top {
    padding-left: 0px;
  }
  #flow .content-flow .tit-bottom {
    font-weight: bold;
    color: #fff;
    background-color: #175886;
    padding: 8px 10px;
    display: inherit;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
  }
  #flow .content-flow .box-bottom {
    margin-top: 0px;
  }
}
@media screen and (max-width: 767px) {
  .h1-size, #top h1, #company h1, #contact h1, #case h1, .extend-h1, #evaluate h1, #safety h1, #staff h1, #flow h1 {
    margin-top: 30px;
  }

  #menu-wrap {
    display: none;
    visibility: hidden;
  }

  .sub-title-blue, #paints h3, #case .box-interview-jp h3, .extend-midashi-box-astec-policy, #evaluate .box-astec-policy .midashi-box-astec-policy, #safety .box-astec-policy .midashi-box-astec-policy {
    line-height: 1.3;
  }

  .tit-jp {
    font-size: 1.50em;
    letter-spacing: 2.0px;
  }

  .tit-en {
    font-size: 1.1em;
    letter-spacing: 0.5px;
    line-height: 1.3;
  }

  .logo-drawer img {
    width: 135px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .logo-header-area {
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    margin-left: -15px;
  }

  .logo-header {
    width: 185px;
    height: 46px;
    background: url(../../assets/imgs/logo.svg) no-repeat;
  }

  .btn-area-contact {
    margin-top: 10px;
  }
  .btn-area-contact .btn {
    width: 100%;
  }

  .navbar-nav {
    margin: auto;
    display: inline;
    float: left;
  }

  .navbar-header {
    float: none;
    text-align: left;
  }

  .btn {
    letter-spacing: 1.0px;
  }

  .tit-hr hr {
    margin-bottom: 30px;
  }

  .mt80 {
    margin-top: 50px;
  }

  .mt100 {
    margin-top: 50px;
  }

  .mt120 {
    margin-top: 60px;
  }

  .row-30 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .row-30 > div {
    padding-right: 0px;
    padding-left: 0px;
  }

  .row-16 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .row-16 > div {
    padding-right: 0px;
    padding-left: 0px;
  }

  footer {
    margin-top: 50px;
  }

  .txt-footer-logo {
    font-size: 0.85em;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .footer-info .footer-info-center {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
  }

  .footer-navi {
    text-align: left;
    padding: 25px 0px;
  }

  .footer-navi .inline {
    text-align: left;
  }
  .footer-navi .inline li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-navi .inline li:before {
    content: " > ";
  }
  .footer-navi .inline li:after {
    padding: 0px 15px;
    content: none;
  }

  .footer-navi .navi-sns .inline li:before {
    content: "";
  }

  .footer-navi .navi-sns .inline li:last-child:after {
    content: none;
    padding-right: 0px;
  }

  .navi-sns {
    margin-top: 0px;
  }

  .copyright {
    text-align: center;
    font-size: 0.7em;
  }

  .lower-promotion-area .tit-promotion-area {
    width: 80%;
  }
  .lower-promotion-area .text-promotion-area {
    padding: 0px 20px 0px 20px;
    text-align: center;
  }
  .lower-promotion-area .img-promotion-area {
    width: 192px;
    margin: 0 auto;
  }

  #top {
    /*h2 {
    	margin-bottom: 30px;
    }*/
    /*.btn-interview {
    	margin-top: -30px;
    }*/
  }
  #top h1, #top h2 {
    line-height: 1.6;
  }
  #top h1 {
    margin-top: 30px;
  }
  #top .tit-en {
    letter-spacing: 0.4px;
    line-height: 1.2;
  }
  #top .paints p {
    line-height: 1.6;
  }
  #top .paints .hvr-underline {
    display: initial;
    vertical-align: initial;
    -webkit-transform: initial;
    transform: initial;
    box-shadow: initial;
    -webkit-backface-visibility: initial;
    backface-visibility: initial;
    -moz-osx-font-smoothing: initial;
    position: initial;
  }
  #top .paints .hvr-underline:before {
    content: initial;
    position: initial;
    z-index: initial;
    left: initial;
    right: initial;
    bottom: initial;
    background: initial;
    height: initial;
    -webkit-transition-property: initial;
    transition-property: initial;
    -webkit-transition-duration: initial;
    transition-duration: initial;
    -webkit-transition-timing-function: initial;
    transition-timing-function: initial;
  }
  #top .paints .hvr-underline:hover:before, #top .paints .hvr-underline:focus:before, #top .paints .hvr-underline:active:before {
    right: 0;
  }
  #top .paints-thumb {
    margin-top: 0px;
  }
  #top .paints-thumb img {
    padding-bottom: 0px;
  }
  #top .paints-thumb .row-30 .col-sm-8 {
    margin-top: 25px;
  }
  #top .from-blog {
    margin-bottom: 25px;
  }
  #top .icon-btn-interview ul li:first-child {
    visibility: hidden;
    display: none;
  }
  #top .icon-btn-interview {
    margin-top: -35px;
  }
  #top .text-btn-interview {
    padding: 45px 0px 0px 0px;
  }
  #top .icon-interview img {
    width: 85px;
  }
  #top .btn-th-jp {
    margin-top: 10px;
  }
  #top .btn-th-jp .btn-th-sides {
    padding-right: 0px;
  }
  #top .btn-th-jp .btn-jp-sides {
    padding-left: 0px;
    margin-top: 10px;
  }
  #top .top-promotion-area .bg-safety-area {
    padding-right: 0px;
    margin-bottom: 20px;
  }
  #top .top-promotion-area .bg-safety {
    padding-top: 30px;
  }
  #top .top-promotion-area .bg-estimate-area {
    padding-left: 0px;
  }
  #top .top-promotion-area .bg-estimate {
    padding-top: 30px;
  }
  #top .top-promotion-area .tit-promotion-area {
    width: 80%;
  }
  #top .top-promotion-area .tit-promotion-area .tit-jp {
    padding-top: 15px;
    color: #000;
  }
  #top .top-promotion-area .tit-promotion-area .tit-hr hr {
    margin-bottom: 40px;
  }

  #company h3 {
    width: auto;
  }
  #company .greeting .btn {
    letter-spacing: 0.5px;
  }
  #company .greeting .img-profile img {
    width: 266px;
  }
  #company .greeting .name {
    margin-top: 5px;
  }
  #company .company-info .box-list .border-left {
    border-left: none;
  }
  #company .company-info .box-list .border-bottom {
    border-bottom: none;
  }
  #company .company-info .box-list .col-sm-18 {
    border-bottom: 1px solid #e5e5e5;
  }
  #company .company-info .box-list .col-sm-6 .pd-box-list {
    padding-bottom: 3px;
  }
  #company .company-info .box-list .col-sm-18 .pd-box-list {
    padding-top: 3px;
  }
  #company .company-info .box-list .pd-box-list {
    padding: 10px 10px;
  }

  #contact .form .box-list {
    border: 1px solid #e5e5e5;
  }
  #contact .form .box-list .pd-box-list {
    padding: 10px 10px;
  }
  #contact .form .box-list .border-left {
    border-left: 1px solid #e5e5e5;
    border-left: none;
  }
  #contact .form .box-list .border-bottom {
    border-bottom: none;
  }
  #contact .form .box-list .col-sm-18 {
    border-bottom: 1px solid #e5e5e5;
  }
  #contact .form .box-list .col-sm-18 .pd-box-list {
    padding-top: 3px;
  }
  #contact .form .box-list .col-sm-6 .pd-box-list {
    padding-bottom: 3px;
  }
  #contact .form .btn {
    width: 100%;
  }

  #paints .tab-area .box-tab-content {
    padding-bottom: 0px;
  }
  #paints .tab-area .btn {
    width: 100%;
  }
  #paints .tab-area .mt70 {
    margin-top: 40px;
  }
  #paints .tab-area .bg-grey {
    margin-top: 80px;
    text-align: center;
    padding: 0px 15px;
  }
  #paints .tab-area .box-left {
    padding-right: 0px;
  }
  #paints .tab-area .box-right {
    padding-left: 0px;
  }
  #paints .tab-area .info-tit {
    font-size: 2.0em;
    letter-spacing: 2.0px;
  }
  #paints .btn-paints-lower .btn-th-sides {
    padding-right: 0px;
  }
  #paints .btn-paints-lower .btn-jp-sides {
    padding-left: 0px;
    margin-top: 20px;
  }
  #paints .roof h4 {
    margin-top: 60px;
    font-size: 1.6em;
    letter-spacing: 1.6px;
  }
  #paints .roof h4:before {
    margin: 0px;
    padding-top: 5px;
    width: 0px;
    height: 0px;
  }
  #paints .roof .box-attention {
    margin-top: 0px;
  }
  #paints .roof .box-attention .img-silicone {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
  }
  #paints .roof .box-attention .img-silicone img {
    width: 65px;
    margin: 0 auto;
    padding: 0px 0px;
  }
  #paints .roof .tit-attention {
    font-size: 1.6em;
    letter-spacing: 3.0px;
    width: 100%;
  }
  #paints .roof .txt-attention {
    padding: 0px 10px 20px 10px;
  }
  #paints .others .content-others {
    padding-bottom: 50px;
  }
  #paints .others .text-othres {
    margin-left: 0px;
  }
  #paints .tit-jp {
    text-align: center;
    font-size: 1.65em;
    letter-spacing: 1.5px;
  }
  #paints .tab-pane {
    margin-left: 10px;
    margin-right: 10px;
  }
  #paints .nav-tabs > li {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid #175886;
  }
  #paints .nav-tabs > li:last-child {
    width: 100%;
  }
  #paints .nav-tabs > li > a {
    border-radius: 0px;
  }
  #paints .nav-tabs > li > a:before {
    content: "> ";
  }

  .bg-indian {
    width: 0%;
    height: 0px;
  }

  #case .sp-margin-bottom {
    margin-bottom: 30px;
  }
  #case .box-interview-jp {
    margin-top: 80px;
  }
  #case .box-interview-jp h3 {
    font-size: 1.7em;
    letter-spacing: 1.0px;
  }
  #case .box-interview-jp h4 {
    font-size: 1.4em;
    line-height: 1.3;
  }
  #case .box-interview-jp img {
    margin-top: 10px;
  }
  #case .case-jp-L {
    margin-right: 5px;
    width: -webkit-calc(50% - 5px);
    /*Chrome19~25対応*/
    width: -moz-calc(50% - 5px);
    /*Firefox4~15対応*/
    width: calc(50% - 5px);
  }
  #case .case-jp-R {
    margin-left: 5px;
    width: -webkit-calc(50% - 5px);
    /*Chrome19~25対応*/
    width: -moz-calc(50% - 5px);
    /*Firefox4~15対応*/
    width: calc(50% - 5px);
  }
  #case .icon-btn-interview ul li:first-child {
    visibility: hidden;
    display: none;
  }
  #case .from-blog, #case .from-article-jp {
    margin-bottom: 10px;
  }
  #case .interview-jp-lower {
    margin-top: 0px;
  }
  #case .case-th-lower {
    margin-top: 0px;
  }
  #case .case-th-sp-margin {
    margin-bottom: 20px;
  }
  #case .interview-th .body-article .table-responsive {
    border: none;
  }
  #case .interview-th .body-article p {
    margin-top: 15px;
  }
  #case .interview-th .body-article img {
    margin-top: 15px;
  }
  #case .interview-th .body-article .interview-latest {
    margin-top: 60px;
  }
  #case .interview-th .body-article .interview-latest .col-xs-17 {
    padding: 0px 0px 0px 10px;
  }

  #evaluate .extend-h1, #evaluate h1, #evaluate #safety h1, #safety #evaluate h1 {
    padding: 20px 0px;
  }
  #evaluate h2 {
    margin: 40px 0px 40px 0px;
    font-size: 2.7em;
    line-height: 1.3;
    letter-spacing: 3.8px;
  }
  #evaluate h3 {
    font-size: 1.2em;
  }
  #evaluate h3 .single-line {
    padding-top: 0px;
  }
  #evaluate .mb30 {
    margin-bottom: 40px;
  }
  #evaluate .site-situation {
    padding-bottom: 40px;
  }
  #evaluate .arrow {
    border-top: 50px solid #175886;
    border-right: 85px solid transparent;
    border-left: 85px solid transparent;
  }
  #evaluate .mt60 {
    margin-top: -30px;
  }
  #evaluate .mt60-sp {
    margin-top: 40px;
  }
  #evaluate .box-astec-policy .bg-grey {
    padding: 0px 20px;
  }
  #evaluate .box-astec-policy .box-left {
    padding-right: 0px;
  }
  #evaluate .box-astec-policy .box-right {
    padding-left: 0px;
  }
  #evaluate .box-astec-policy .info-img {
    padding-bottom: 30px;
  }
  #evaluate .box-astec-policy .astec-policy-lower {
    margin-top: 0px;
  }
  #evaluate .box-astec-policy .extend-box-child-astec-policy, #evaluate .box-astec-policy .box-child-astec-policy {
    padding: 0px 10px;
  }

  #safety .extend-h1, #safety #evaluate h1, #evaluate #safety h1, #safety h1 {
    padding: 20px 0px;
  }
  #safety h2 {
    margin: 40px 0px 40px 0px;
    font-size: 2.7em;
    line-height: 1.3;
    letter-spacing: 3.8px;
  }
  #safety h3 {
    font-size: 1.2em;
  }
  #safety .mb30 {
    margin-bottom: 40px;
  }
  #safety .site-situation {
    padding-bottom: 40px;
  }
  #safety .arrow {
    border-top: 50px solid #175886;
    border-right: 85px solid transparent;
    border-left: 85px solid transparent;
  }
  #safety .sp-padding {
    padding: 0px 10px;
  }
  #safety .mt100-sp {
    margin-top: -20px;
  }
  #safety .mt60 {
    margin-top: 40px;
  }
  #safety .midashi-box-astec-policy {
    margin-top: 20px;
  }
  #safety .astec-policy-lower {
    margin-top: 0px;
  }
  #safety .astec-policy-lower h3 {
    height: auto;
  }
  #safety .astec-policy-lower .oneline {
    padding-top: 10px;
  }
  #safety .box-astec-policy .extend-box-child-astec-policy, #safety .box-astec-policy .box-child-astec-policy {
    padding: 0px 10px;
  }

  #staff .txt-profile .position {
    line-height: 1.2;
  }
  #staff .txt-profile .name {
    font-weight: bold;
    letter-spacing: 0px;
    word-wrap: break-word;
  }
  #staff .txt-profile .nicName {
    line-height: 1.1;
    margin-top: 3px;
  }
  #staff .staff-lower {
    margin-top: 0px;
  }

  .sp-mb {
    margin-bottom: 30px;
  }

  #flow .content-flow {
    margin-top: 10px;
  }
  #flow .content-flow .content-top {
    padding-left: 0px;
  }
  #flow .content-flow .content-bottom {
    margin-top: 30px;
  }
  #flow .content-flow .content-bottom .img-content-bottom {
    padding-right: 0px;
    width: 137px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #flow .content-flow .content-bottom .img-content-bottom img {
    width: auto;
  }
  #flow .content-flow .tit-bottom {
    font-weight: bold;
    color: #fff;
    background-color: #175886;
    padding: 8px 10px;
    display: inherit;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
  }
  #flow .content-flow .box-bottom {
    margin-top: 0px;
  }
}
/* 
visible-xs
col-sm-14 col-sm-offset-5
xs sm md lg

//////link tag
img {
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
}
a:hover img, a:active img {
	filter: alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

a {
	display: block;
	text-decoration: none;
	-webkit-transition-duration: 1s;
	transition-duration: 0.8s;
	&:link {color: #000;}
	&:visited {color: #000;}
	&:hover {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
	&:active {color: #000; filter: alpha(opacity=45);-moz-opacity: 0.45;opacity: 0.45;}
}

@extend .font-average;

//スモールPC
@media screen and (max-width:1199px) { 
}
//タブレット
@media screen and (max-width:991px) { 
}
//スマホ
@media screen and (max-width:767px) { 
}
*/
